version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - SPRING_MAIL_PASSWORD=${SPRING_MAIL_PASSWORD}
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    environment:
      - REACT_APP_API_URL=https://labpilot-backend.onrender.com
      - REACT_APP_SUPABASE_URL=https://uorfxbhmojeqdoioafsm.supabase.co
      - REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvcmZ4Ymhtb2plcWRvaW9hZnNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMzc5NzAsImV4cCI6MjA3ODkxMzk3MH0.poMjwESDSfDpkA_qiIC8xFQ_-f7O3SGv0br_ZadbAEE
    restart: unless-stopped
